.dialog-mask-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.4);

    display: flex;
    justify-content: center;
    align-items: center;

    .dialog-wrapper{
        background-color: white;
        min-width: 90%;
        border-radius: 10px;

        .title{
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            margin: .8rem 0;
        }
        table{
            width: 100%;
            thead, tbody, tr{ width: 100%; }
            
            thead{
                tr th{ 
                    text-align: center;
                    text-align: left;
                    &:nth-last-of-type(1){
                        text-align: right;
                    }
                    &:nth-of-type(1){
                        min-width: 5rem;
                    }
                    border-bottom: 1px solid #1ba9ba;
                    padding: .6rem;
                }
            }
            tbody{
                tr td{ 
                    text-align: center;
                    text-align: left;
                    border-bottom: .5px solid #e1e1e1;
                    &:nth-last-of-type(1){
                        text-align: center;
                    }
                    padding: .6rem;
                }
                tr:nth-last-of-type(1) td{
                    border: none;
                }
            }
        }
    }
}