#order-wrapper .submit-order-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 0;

    .total-price{
        .wrapper{
            .price{
                color: #ff8300;
                font-size: 1.2rem;
                font-weight: 600;
                &::before{
                    content: "￥";
                    font-size: 1rem;
                }
                .tip{
                    color: #666666;
                    opacity: .8;
                    font-size: .8rem;
                }
            }
            .icon{
                display: inline-block;
                transform: rotate(90deg) translate(-1.5rem, -1.4rem);
                i.iconfont{
                    font-size: .8rem;
                }
                &.rotate90{
                    transform: rotate(-90deg) translate(1.5rem, 1.4rem);
                }
            }
        }
    }

    .submit-btn{
        .btn{
            outline: none;
            border: none;
            background-color: #ff8300;
            font-size: 1.1rem;
            padding: .8rem 2rem;
            border-radius: 4px;
            color: white;
        }
    }
}

#order-wrapper .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 4.8rem);
    box-sizing: border-box;
    background-color: rgba(0,0,0,.6);

    .details{
        padding: 0 1rem;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: white;
        & > div{
            display: flex;
            justify-content: space-between;
            padding-bottom: .5rem;
            &:nth-of-type(1){
                margin-bottom: .5rem;
                border-bottom: 1px solid #dddddd;
            }
        }
    }
}