.optionWrapper{
    width: 90%;
    text-align: left;
    padding: 2rem 0.3rem;
}

.optionWrapper > label > input{
    width: 1rem;
    height: 1rem;
    text-align: left;
    vertical-align: -0.1rem;
    margin-right: 0.3rem;
}
.optionWrapper>label{
    width: 100%;
    color: #616161;
}