.calendarWrapper{
    background-color: white;
    
    .top-fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
    }

    ul.weekNavWrapper{
        background-color: white;
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 1rem;
        display: flex;
        padding: 0.5rem 0;
        flex-direction: row;
        list-style: none;
        li{
            line-height: 1rem;
            flex: 1;
            text-align: center;
            font-size: 0.8rem;
            &:nth-of-type(1),
            &:nth-last-of-type(1) {
                color: #00afc7;
            }
        }
    }
    table.dateTable{
        position: absolute;
        top: 5rem;
        width: 100vw;
        text-align: center;
        margin-bottom: 3rem;
        background: white;
        &,*{
            padding: 0;
        }
        thead{
            tr{
                th{
                    width: 100vw;
                    height: 2rem;
                    background-color: #f7f7f7;
                }
            }
        }
        tbody{
            width: 100vw;
            tr > td{
                padding: 1rem;
                &.nowDate-td{
                    border: 1px solid #00afc7;
                    // background-color: #00afc7;
                    border-radius: 4px;
                    color: #424242;
                    padding: 0.5rem;
                    &::after{
                        content: "今天";
                        display: block;
                        color: inherit;
                        margin-top: 0.2rem;
                        font-size: 1rem;
                    }
                }
                &.weekedDate-td{
                    color: #ff8300;
                }
                &.pastDate-td{
                    color: #ccc;
                }
                &.selected-td{
                    background-color: #00afc7;
                    box-sizing: border-box;
                    color: white;
                    border-radius: 4px;
                }
            }
        }
    }
}