.page{
    position: relative;
}
.header-pos{
    width: 100vw;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}